<!DOCTYPE html>
<html>
<head>
    <title>
        To do
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="todo">
    <meta name="description" content="hier gibt es was zu tun">
    <script src="https://kit.fontawesome.com/2eb30787bc.js" crossorigin="anonymous"></script>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        body {
            background-repeat: no-repeat;
            background-position: top left;
            background-attachment: fixed;
            background-image: url('https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2Vic2l0ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
            background-size: cover;
        }

        h1 {
            text-shadow: grey 1px 2px 1px;
            font-weight: bold;
        }

        p {
            font-style: normal;
            font-weight: normal;
            color: #000000;
            background-color: #ffffff;
        }

        .table-transparent {
            background-color: rgba(0, 0, 0, 0.4);
        }

        .table-transparent th,
        .table-transparent td {
            background-color: rgba(255, 255, 255, 0.55);
        }
    </style>
</head>
<body>
    <h1 class="display-2">To Do</h1>
    <a href="{% url 'taskCreate' %}" class="btn btn-primary m-3">Add Task</a>
    <table class="table table-striped table-hover table-transparent">
        <tr>
            <th>Item</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for task in viewTasks %}
        {% if task.isCompleted == True %}
        <tr>
            <td><s>{{task.title}}</s></td>
            <td id="checkbox1"><a href="{% url 'taskUpdate' task.id %}"><i class="fa-solid fa-circle-check"></i></td>
            <td><a href="{% url 'task' task.id %}">View Task</a></td>
            <td><a href="{% url 'taskUpdate' task.id %}">Edit Task</a></td>
            <td><a href="{% url 'taskDelete' task.id %}">Delete Task</a></td>
        </tr>
        {% else %}
        <tr>
            <td>{{task.title}}</td>
            <td id="checkbox"><a href="{% url 'taskUpdate' task.id %}"><i class="fa-regular fa-circle"></i></td>
            <td><a href="{% url 'task' task.id %}">View Task</a></td>
            <td><a href="{% url 'taskUpdate' task.id %}">Edit Task</a></td>
            <td><a href="{% url 'taskDelete' task.id %}">Delete Task</a></td>
        </tr>
        {% endif %}
        {% empty %}
        <p>Currently no items.</p>
        {% endfor %}
    </table>
</body>
<script>  
</script>
</html>
