<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<h3>Task Form</h3>
<a href="{% url 'tasks' %}">Go Back</a>
<form action="" method="POST">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>
