<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<a href="{% url 'tasks'%}">Go back</a>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Wait a minute! Are you sure?</h1>
        <form method="POST">
            {% csrf_token %}
            <p>You want to delete the task "{{task}}"?</p>
            <input value="Delete" type="submit" />
        </form>
    </div>
</div>